In [1]:
%pylab inline
import pandas
import seaborn

Populating the interactive namespace from numpy and matplotlib

In [6]:
data = pandas.read_csv('Desktop/uber-raw-data-apr14.csv')

In [7]:
data.tail()

                 Date/Time      Lat      Lon    Base
564511  4/30/2014 23:22:00  40.7640 -73.9744  B02764
564512  4/30/2014 23:26:00  40.7629 -73.9672  B02764
564513  4/30/2014 23:31:00  40.7443 -73.9889  B02764
564514  4/30/2014 23:32:00  40.6756 -73.9405  B02764
564515  4/30/2014 23:48:00  40.6880 -73.9608  B02764

In [8]:
dt = pandas.to_datetime(dt)

NameError: name 'dt' is not defined

In [9]:
dt = '4/30/2014 23:22:00'

In [10]:
dt = pandas.to_datetime(dt)

In [11]:
data['Date/Time'] = data['Date/Time'].map(pandas.to_datetime)